df-dsl-prattwhitney/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-dsl-prattwhitney"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MergedInvoice_UseCase3')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "NewTest",
								"type": "DatasetReference"
							},
							"name": "DOF"
						},
						{
							"dataset": {
								"referenceName": "PW1XX",
								"type": "DatasetReference"
							},
							"name": "PW1XX"
						},
						{
							"dataset": {
								"referenceName": "PW127",
								"type": "DatasetReference"
							},
							"name": "PW127"
						},
						{
							"dataset": {
								"referenceName": "PW150",
								"type": "DatasetReference"
							},
							"name": "PW150"
						},
						{
							"dataset": {
								"referenceName": "TFAN",
								"type": "DatasetReference"
							},
							"name": "TFAN"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Parquet1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "MergedInvoiceUseCase3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as double,",
						"          PrimaryModuleCSN as double,",
						"          PrimaryModuleTSO as double,",
						"          PrimaryModuleCSO as double,",
						"          PrimaryModuleTSHSI as double,",
						"          PrimaryModuleTSLV as double,",
						"          PrimaryModule2TSN as double,",
						"          PrimaryModule2CSN as double,",
						"          PrimaryModule2TSO as double,",
						"          PrimaryModule2CSO as double,",
						"          PrimaryModule2TSHSI as double,",
						"          PrimaryModule2TSLV as double,",
						"          SecondaryModuleTSN as double,",
						"          SecondaryModuleCSN as double,",
						"          SecondaryModuleTSO as double,",
						"          SecondaryModuleCSO as double,",
						"          SecondaryModuleTSHSI as double,",
						"          SecondaryModuleTSLV as double,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as double,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as double,",
						"          PrimaryModule2OVHCategory as double,",
						"          PrimaryModule2TargetTBO as double,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as double,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> DOF",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as float,",
						"          PrimaryModuleCSN as float,",
						"          PrimaryModuleTSO as float,",
						"          PrimaryModuleCSO as float,",
						"          PrimaryModuleTSHSI as float,",
						"          PrimaryModuleTSLV as float,",
						"          PrimaryModule2TSN as float,",
						"          PrimaryModule2CSN as float,",
						"          PrimaryModule2TSO as float,",
						"          PrimaryModule2CSO as float,",
						"          PrimaryModule2TSHSI as float,",
						"          PrimaryModule2TSLV as float,",
						"          SecondaryModuleTSN as float,",
						"          SecondaryModuleCSN as float,",
						"          SecondaryModuleTSO as float,",
						"          SecondaryModuleCSO as float,",
						"          SecondaryModuleTSHSI as float,",
						"          SecondaryModuleTSLV as float,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as float,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as float,",
						"          PrimaryModule2OVHCategory as float,",
						"          PrimaryModule2TargetTBO as float,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as float,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW1XX",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as float,",
						"          PrimaryModuleCSN as float,",
						"          PrimaryModuleTSO as float,",
						"          PrimaryModuleCSO as float,",
						"          PrimaryModuleTSHSI as float,",
						"          PrimaryModuleTSLV as float,",
						"          PrimaryModule2TSN as float,",
						"          PrimaryModule2CSN as float,",
						"          PrimaryModule2TSO as float,",
						"          PrimaryModule2CSO as float,",
						"          PrimaryModule2TSHSI as float,",
						"          PrimaryModule2TSLV as float,",
						"          SecondaryModuleTSN as float,",
						"          SecondaryModuleCSN as float,",
						"          SecondaryModuleTSO as float,",
						"          SecondaryModuleCSO as float,",
						"          SecondaryModuleTSHSI as float,",
						"          SecondaryModuleTSLV as float,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as float,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as float,",
						"          PrimaryModule2OVHCategory as float,",
						"          PrimaryModule2TargetTBO as float,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as float,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW127",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as double,",
						"          PrimaryModuleCSN as double,",
						"          PrimaryModuleTSO as double,",
						"          PrimaryModuleCSO as double,",
						"          PrimaryModuleTSHSI as double,",
						"          PrimaryModuleTSLV as double,",
						"          PrimaryModule2TSN as double,",
						"          PrimaryModule2CSN as double,",
						"          PrimaryModule2TSO as double,",
						"          PrimaryModule2CSO as double,",
						"          PrimaryModule2TSHSI as double,",
						"          PrimaryModule2TSLV as double,",
						"          SecondaryModuleTSN as double,",
						"          SecondaryModuleCSN as double,",
						"          SecondaryModuleTSO as double,",
						"          SecondaryModuleCSO as double,",
						"          SecondaryModuleTSHSI as double,",
						"          SecondaryModuleTSLV as double,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as double,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as double,",
						"          PrimaryModule2OVHCategory as double,",
						"          PrimaryModule2TargetTBO as double,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as double,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW150",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as double,",
						"          PrimaryModuleCSN as double,",
						"          PrimaryModuleTSO as double,",
						"          PrimaryModuleCSO as double,",
						"          PrimaryModuleTSHSI as double,",
						"          PrimaryModuleTSLV as double,",
						"          PrimaryModule2TSN as double,",
						"          PrimaryModule2CSN as double,",
						"          PrimaryModule2TSO as double,",
						"          PrimaryModule2CSO as double,",
						"          PrimaryModule2TSHSI as double,",
						"          PrimaryModule2TSLV as double,",
						"          SecondaryModuleTSN as double,",
						"          SecondaryModuleCSN as double,",
						"          SecondaryModuleTSO as double,",
						"          SecondaryModuleCSO as double,",
						"          SecondaryModuleTSHSI as double,",
						"          SecondaryModuleTSLV as double,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as double,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as double,",
						"          PrimaryModule2OVHCategory as double,",
						"          PrimaryModule2TargetTBO as double,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as double,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> TFAN",
						"DOF, TFAN, PW1XX, PW150, PW127 union(byName: true,",
						"     partitionBy('hash', 1))~> MergedInvoiceUseCase3",
						"MergedInvoiceUseCase3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['MergedInvoice_UseCase3'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergedParts')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Parts_TFAN",
								"type": "DatasetReference"
							},
							"name": "PartsTFAN"
						},
						{
							"dataset": {
								"referenceName": "Parts_PW1XX",
								"type": "DatasetReference"
							},
							"name": "PartsPW1XX"
						},
						{
							"dataset": {
								"referenceName": "Parts_PW127",
								"type": "DatasetReference"
							},
							"name": "PartsPW127"
						},
						{
							"dataset": {
								"referenceName": "Parts_PW150",
								"type": "DatasetReference"
							},
							"name": "PartsPW150"
						},
						{
							"dataset": {
								"referenceName": "Parts_DOF",
								"type": "DatasetReference"
							},
							"name": "PartsDOF"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MergedParts",
								"type": "DatasetReference"
							},
							"name": "MergedParts"
						}
					],
					"transformations": [
						{
							"name": "PartsUnion"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceNumber as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomer as string,",
						"          PayerARCode as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string,",
						"          ExtendedList as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PartsTFAN",
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceNumber as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomer as string,",
						"          PayerARCode as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          ExtendedList as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PartsPW1XX",
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceNumber as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomerName as string,",
						"          {EndCustomerARCode.1} as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string,",
						"          ExtendedList as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PartsPW127",
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceNumber as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomerName as string,",
						"          PayerARCode as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string,",
						"          ExtendedList as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PartsPW150",
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomerName as string,",
						"          PayerARCode as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string,",
						"          ExtendedList as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     ignoreNoFilesFound: false) ~> PartsDOF",
						"PartsTFAN, PartsPW150, PartsPW1XX, PartsPW127, PartsDOF union(byName: true)~> PartsUnion",
						"PartsUnion sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          EngineModel as string,",
						"          {LCF Part} as string,",
						"          SalesOrderNumber as string,",
						"          ModuleType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          FinalPrice as string,",
						"          ExtendedList as string",
						"     ),",
						"     partitionFileNames:['MergedParts'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> MergedParts"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergedInvoice_UseCase3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MergedInvoice_UseCase3",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergedInvoice_UseCase3",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DOF": {},
									"PW1XX": {},
									"PW127": {},
									"PW150": {},
									"TFAN": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MergedInvoice_UseCase3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UseCase1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UseCase1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "MergeInvoice",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/jaya.chaturvedi@mail.mcgill.ca/UseCase1_Test"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MergedParts",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergedParts",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PartsTFAN": {},
									"PartsPW1XX": {},
									"PartsPW127": {},
									"PartsPW150": {},
									"PartsDOF": {},
									"MergedParts": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MergeInvoice",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MergedParts",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergeInvoice",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PW127": {},
									"PW150": {},
									"PW1XX": {},
									"TFAN": {},
									"DOFInvoice": {},
									"MergedInvoice": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "UseCase2",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "UseCase1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/jaya.chaturvedi@mail.mcgill.ca/UseCase2_Test"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MergedParts')]"
			]
		}
	]
}