df-dsl-prattwhitney/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-dsl-prattwhitney"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stbusa693prattwhitney.dfs.core.windows.net"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0321-151041-8siswhbs"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MergedInvoice_UseCase3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MergedInvoice_UseCase3",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergedInvoice_UseCase3",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DOF": {},
									"PW1XX": {},
									"PW127": {},
									"PW150": {},
									"TFAN": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MergedInvoice_UseCase3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UseCase1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UseCase1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "MergeInvoice",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/jaya.chaturvedi@mail.mcgill.ca/UseCase1_Test"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MergedParts",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergedParts",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PartsTFAN": {},
									"PartsPW1XX": {},
									"PartsPW127": {},
									"PartsPW150": {},
									"PartsDOF": {},
									"MergedParts": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MergeInvoice",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MergedParts",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergeInvoice",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PW127": {},
									"PW150": {},
									"PW1XX": {},
									"TFAN": {},
									"DOFInvoice": {},
									"MergedInvoice": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]",
				"[concat(variables('factoryId'), '/dataflows/MergedParts')]",
				"[concat(variables('factoryId'), '/dataflows/MergeInvoice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergedInvoice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "InvoiceData"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "MergedInvoice",
						"folderPath": "mergedtestdata",
						"fileSystem": "pwc-transformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "PrimaryWorkscope",
						"type": "String"
					},
					{
						"name": "SecondaryWorkscope",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergedParts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PartsDetails"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "MergedParts",
						"folderPath": "mergedtestdata",
						"fileSystem": "pwc-transformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "LCF Part",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "ModuleType",
						"type": "String"
					},
					{
						"name": "MaterialInstalled",
						"type": "String"
					},
					{
						"name": "MaterialDescription",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "FinalPrice",
						"type": "String"
					},
					{
						"name": "ExtendedList",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NewTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "InvoiceData"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dofInvoice_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "InvoiceFrontPageId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "OtherDocuments",
						"type": "String"
					},
					{
						"name": "SDPlant",
						"type": "String"
					},
					{
						"name": "PricingDate",
						"type": "String"
					},
					{
						"name": "PrimaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Type",
						"type": "String"
					},
					{
						"name": "SecondaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "PrimaryModule2SerialNumber",
						"type": "String"
					},
					{
						"name": "SecondaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalBW",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalAdditionalInfo",
						"type": "String"
					},
					{
						"name": "ShopEventDate",
						"type": "String"
					},
					{
						"name": "ShippedDate",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "ShipToCountry",
						"type": "String"
					},
					{
						"name": "EndCustomer",
						"type": "String"
					},
					{
						"name": "GeographicRegionOfEndCustomer",
						"type": "String"
					},
					{
						"name": "PayerAorB",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Workscope",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSLV",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "PrimaryModule2WorkscopeFinal",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "HSICategory",
						"type": "String"
					},
					{
						"name": "TargetHSIInterval",
						"type": "String"
					},
					{
						"name": "PrimaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2OVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TargetTBO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PreviousEventHistory",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PW127')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "InvoiceData"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pw127Invoice_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "InvoiceFrontPageId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "OtherDocuments",
						"type": "String"
					},
					{
						"name": "SDPlant",
						"type": "String"
					},
					{
						"name": "PricingDate",
						"type": "String"
					},
					{
						"name": "PrimaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Type",
						"type": "String"
					},
					{
						"name": "SecondaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "PrimaryModule2SerialNumber",
						"type": "String"
					},
					{
						"name": "SecondaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalBW",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalAdditionalInfo",
						"type": "String"
					},
					{
						"name": "ShopEventDate",
						"type": "String"
					},
					{
						"name": "ShippedDate",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "ShipToCountry",
						"type": "String"
					},
					{
						"name": "EndCustomer",
						"type": "String"
					},
					{
						"name": "GeographicRegionOfEndCustomer",
						"type": "String"
					},
					{
						"name": "PayerAorB",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Workscope",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSLV",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "PrimaryModule2WorkscopeFinal",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "HSICategory",
						"type": "String"
					},
					{
						"name": "TargetHSIInterval",
						"type": "String"
					},
					{
						"name": "PrimaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2OVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TargetTBO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PreviousEventHistory",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PW150')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "InvoiceData"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pw150_pw3XX_Invoice_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "InvoiceFrontPageId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "OtherDocuments",
						"type": "String"
					},
					{
						"name": "SDPlant",
						"type": "String"
					},
					{
						"name": "PricingDate",
						"type": "String"
					},
					{
						"name": "PrimaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Type",
						"type": "String"
					},
					{
						"name": "SecondaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "PrimaryModule2SerialNumber",
						"type": "String"
					},
					{
						"name": "SecondaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalBW",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalAdditionalInfo",
						"type": "String"
					},
					{
						"name": "ShopEventDate",
						"type": "String"
					},
					{
						"name": "ShippedDate",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "ShipToCountry",
						"type": "String"
					},
					{
						"name": "EndCustomer",
						"type": "String"
					},
					{
						"name": "GeographicRegionOfEndCustomer",
						"type": "String"
					},
					{
						"name": "PayerAorB",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Workscope",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSLV",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "PrimaryModule2WorkscopeFinal",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "HSICategory",
						"type": "String"
					},
					{
						"name": "TargetHSIInterval",
						"type": "String"
					},
					{
						"name": "PrimaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2OVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TargetTBO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PreviousEventHistory",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PW1XX')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "InvoiceData"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pw1Invoice_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "InvoiceFrontPageId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "OtherDocuments",
						"type": "String"
					},
					{
						"name": "SDPlant",
						"type": "String"
					},
					{
						"name": "PricingDate",
						"type": "String"
					},
					{
						"name": "PrimaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Type",
						"type": "String"
					},
					{
						"name": "SecondaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "PrimaryModule2SerialNumber",
						"type": "String"
					},
					{
						"name": "SecondaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalBW",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalAdditionalInfo",
						"type": "String"
					},
					{
						"name": "ShopEventDate",
						"type": "String"
					},
					{
						"name": "ShippedDate",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "ShipToCountry",
						"type": "String"
					},
					{
						"name": "EndCustomer",
						"type": "String"
					},
					{
						"name": "GeographicRegionOfEndCustomer",
						"type": "String"
					},
					{
						"name": "PayerAorB",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Workscope",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSLV",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "PrimaryModule2WorkscopeFinal",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "HSICategory",
						"type": "String"
					},
					{
						"name": "TargetHSIInterval",
						"type": "String"
					},
					{
						"name": "PrimaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2OVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TargetTBO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PreviousEventHistory",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "UseCase3"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "MergedInvoice_UseCase3",
						"fileSystem": "pwc-transformeddata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "UseCase3"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "MergedParts_UseCase3",
						"fileSystem": "pwc-transformeddata"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "InvoiceFrontPageId",
						"type": "UTF8"
					},
					{
						"name": "EngineModel",
						"type": "UTF8"
					},
					{
						"name": "SalesOrderNumber",
						"type": "UTF8"
					},
					{
						"name": "OtherDocuments",
						"type": "UTF8"
					},
					{
						"name": "SDPlant",
						"type": "UTF8"
					},
					{
						"name": "PricingDate",
						"type": "DATE"
					},
					{
						"name": "PrimaryModuleType",
						"type": "UTF8"
					},
					{
						"name": "PrimaryModule2Type",
						"type": "UTF8"
					},
					{
						"name": "SecondaryModuleType",
						"type": "UTF8"
					},
					{
						"name": "PrimaryModuleSerialNumber",
						"type": "UTF8"
					},
					{
						"name": "PrimaryModule2SerialNumber",
						"type": "UTF8"
					},
					{
						"name": "SecondaryModuleSerialNumber",
						"type": "UTF8"
					},
					{
						"name": "ReasonForRemovalBW",
						"type": "UTF8"
					},
					{
						"name": "ReasonForRemovalAdditionalInfo",
						"type": "UTF8"
					},
					{
						"name": "ShopEventDate",
						"type": "DATE"
					},
					{
						"name": "ShippedDate",
						"type": "DATE"
					},
					{
						"name": "InvoiceDate",
						"type": "DATE"
					},
					{
						"name": "InvoiceMonth",
						"type": "UTF8"
					},
					{
						"name": "InvoiceNumber",
						"type": "UTF8"
					},
					{
						"name": "ShipToCountry",
						"type": "UTF8"
					},
					{
						"name": "EndCustomer",
						"type": "UTF8"
					},
					{
						"name": "GeographicRegionOfEndCustomer",
						"type": "UTF8"
					},
					{
						"name": "PayerAorB",
						"type": "UTF8"
					},
					{
						"name": "PrimaryModuleWorkscope",
						"type": "UTF8"
					},
					{
						"name": "PrimaryModule2Workscope",
						"type": "UTF8"
					},
					{
						"name": "SecondaryModuleWorkscope",
						"type": "UTF8"
					},
					{
						"name": "PrimaryModuleTSN",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModuleCSN",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModuleTSO",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModuleCSO",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModuleTSHSI",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModuleTSLV",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModule2TSN",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModule2CSN",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModule2TSO",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModule2CSO",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModule2TSHSI",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModule2TSLV",
						"type": "DOUBLE"
					},
					{
						"name": "SecondaryModuleTSN",
						"type": "DOUBLE"
					},
					{
						"name": "SecondaryModuleCSN",
						"type": "DOUBLE"
					},
					{
						"name": "SecondaryModuleTSO",
						"type": "DOUBLE"
					},
					{
						"name": "SecondaryModuleCSO",
						"type": "DOUBLE"
					},
					{
						"name": "SecondaryModuleTSHSI",
						"type": "DOUBLE"
					},
					{
						"name": "SecondaryModuleTSLV",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModuleWorkscopeFinal",
						"type": "UTF8"
					},
					{
						"name": "PrimaryModule2WorkscopeFinal",
						"type": "UTF8"
					},
					{
						"name": "SecondaryModuleWorkscopeFinal",
						"type": "UTF8"
					},
					{
						"name": "HSICategory",
						"type": "UTF8"
					},
					{
						"name": "TargetHSIInterval",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModuleOVHCategory",
						"type": "UTF8"
					},
					{
						"name": "PrimaryModuleTargetTBO",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModule2OVHCategory",
						"type": "DOUBLE"
					},
					{
						"name": "PrimaryModule2TargetTBO",
						"type": "DOUBLE"
					},
					{
						"name": "SecondaryModuleOVHCategory",
						"type": "UTF8"
					},
					{
						"name": "SecondaryModuleTargetTBO",
						"type": "DOUBLE"
					},
					{
						"name": "PreviousEventHistory",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_DOF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PartsDetails"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dofPartsDetails_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PartDetailsId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "Plant",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceYear",
						"type": "String"
					},
					{
						"name": "EndCustomerARCode",
						"type": "String"
					},
					{
						"name": "EndCustomerName",
						"type": "String"
					},
					{
						"name": "PayerARCode",
						"type": "String"
					},
					{
						"name": "PayerName",
						"type": "String"
					},
					{
						"name": "EngineModule",
						"type": "String"
					},
					{
						"name": "InvoiceRecordType",
						"type": "String"
					},
					{
						"name": "MaterialInstalled",
						"type": "String"
					},
					{
						"name": "MaterialDescription",
						"type": "String"
					},
					{
						"name": "MaterialGroup",
						"type": "String"
					},
					{
						"name": "PartRemovalReason",
						"type": "String"
					},
					{
						"name": "IWBEnginePosition",
						"type": "String"
					},
					{
						"name": "MajorParts",
						"type": "String"
					},
					{
						"name": "PricingMonth",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "TotalInvoicePriceEscalatedAtPPHRateOrDiscount",
						"type": "String"
					},
					{
						"name": "ExtendedList",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_PW127')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PartsDetails"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pw127PartsDetails_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PartDetailsId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "Plant",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceYear",
						"type": "String"
					},
					{
						"name": "EndCustomerARCode",
						"type": "String"
					},
					{
						"name": "EndCustomerName",
						"type": "String"
					},
					{
						"name": "EndCustomerARCode.1",
						"type": "String"
					},
					{
						"name": "PayerName",
						"type": "String"
					},
					{
						"name": "EngineModule",
						"type": "String"
					},
					{
						"name": "InvoiceRecordType",
						"type": "String"
					},
					{
						"name": "MaterialInstalled",
						"type": "String"
					},
					{
						"name": "MaterialDescription",
						"type": "String"
					},
					{
						"name": "MaterialGroup",
						"type": "String"
					},
					{
						"name": "PartRemovalReason",
						"type": "String"
					},
					{
						"name": "IWBEnginePosition",
						"type": "String"
					},
					{
						"name": "MajorParts",
						"type": "String"
					},
					{
						"name": "PricingMonth",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "TotalInvoicePriceEscalatedAtPPHRateOrDiscount",
						"type": "String"
					},
					{
						"name": "ExtendedList",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_PW150')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PartsDetails"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pw150PartsDetails_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PartDetailsId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "Plant",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceYear",
						"type": "String"
					},
					{
						"name": "EndCustomerARCode",
						"type": "String"
					},
					{
						"name": "EndCustomerName",
						"type": "String"
					},
					{
						"name": "PayerARCode",
						"type": "String"
					},
					{
						"name": "PayerName",
						"type": "String"
					},
					{
						"name": "EngineModule",
						"type": "String"
					},
					{
						"name": "InvoiceRecordType",
						"type": "String"
					},
					{
						"name": "MaterialInstalled",
						"type": "String"
					},
					{
						"name": "MaterialDescription",
						"type": "String"
					},
					{
						"name": "MaterialGroup",
						"type": "String"
					},
					{
						"name": "PartRemovalReason",
						"type": "String"
					},
					{
						"name": "IWBEnginePosition",
						"type": "String"
					},
					{
						"name": "MajorParts",
						"type": "String"
					},
					{
						"name": "PricingMonth",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "TotalInvoicePriceEscalatedAtPPHRateOrDiscount",
						"type": "String"
					},
					{
						"name": "ExtendedList",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_PW1XX')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PartsDetails"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pw1PartsDetails_data1.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PartDetailsId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "Plant",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceYear",
						"type": "String"
					},
					{
						"name": "EndCustomerARCode",
						"type": "String"
					},
					{
						"name": "EndCustomer",
						"type": "String"
					},
					{
						"name": "PayerARCode",
						"type": "String"
					},
					{
						"name": "PayerName",
						"type": "String"
					},
					{
						"name": "EngineModule",
						"type": "String"
					},
					{
						"name": "InvoiceRecordType",
						"type": "String"
					},
					{
						"name": "MaterialInstalled",
						"type": "String"
					},
					{
						"name": "MaterialDescription",
						"type": "String"
					},
					{
						"name": "MaterialGroup",
						"type": "String"
					},
					{
						"name": "PartRemovalReason",
						"type": "String"
					},
					{
						"name": "IWBEnginePosition",
						"type": "String"
					},
					{
						"name": "MajorParts",
						"type": "String"
					},
					{
						"name": "PricingMonth",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "ExtendedList",
						"type": "String"
					},
					{
						"name": "TotalInvoicePriceEscalatedAtPPHRateOrDiscount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_TFAN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PartsDetails"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tfanPartsDetails_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PartDetailsId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "Plant",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceYear",
						"type": "String"
					},
					{
						"name": "EndCustomerARCode",
						"type": "String"
					},
					{
						"name": "EndCustomer",
						"type": "String"
					},
					{
						"name": "PayerARCode",
						"type": "String"
					},
					{
						"name": "PayerName",
						"type": "String"
					},
					{
						"name": "EngineModule",
						"type": "String"
					},
					{
						"name": "InvoiceRecordType",
						"type": "String"
					},
					{
						"name": "MaterialInstalled",
						"type": "String"
					},
					{
						"name": "MaterialDescription",
						"type": "String"
					},
					{
						"name": "MaterialGroup",
						"type": "String"
					},
					{
						"name": "PartRemovalReason",
						"type": "String"
					},
					{
						"name": "IWBEnginePosition",
						"type": "String"
					},
					{
						"name": "MajorParts",
						"type": "String"
					},
					{
						"name": "PricingMonth",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "TotalInvoicePriceEscalatedAtPPHRateOrDiscount",
						"type": "String"
					},
					{
						"name": "ExtendedList",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TFAN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "InvoiceData"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tfan_Invoice_data.csv",
						"folderPath": "raw data",
						"fileSystem": "pwc-capstone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "InvoiceFrontPageId",
						"type": "String"
					},
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "OtherDocuments",
						"type": "String"
					},
					{
						"name": "SDPlant",
						"type": "String"
					},
					{
						"name": "PricingDate",
						"type": "String"
					},
					{
						"name": "PrimaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Type",
						"type": "String"
					},
					{
						"name": "SecondaryModuleType",
						"type": "String"
					},
					{
						"name": "PrimaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "PrimaryModule2SerialNumber",
						"type": "String"
					},
					{
						"name": "SecondaryModuleSerialNumber",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalBW",
						"type": "String"
					},
					{
						"name": "ReasonForRemovalAdditionalInfo",
						"type": "String"
					},
					{
						"name": "ShopEventDate",
						"type": "String"
					},
					{
						"name": "ShippedDate",
						"type": "String"
					},
					{
						"name": "InvoiceDate",
						"type": "String"
					},
					{
						"name": "InvoiceMonth",
						"type": "String"
					},
					{
						"name": "InvoiceNumber",
						"type": "String"
					},
					{
						"name": "ShipToCountry",
						"type": "String"
					},
					{
						"name": "EndCustomer",
						"type": "String"
					},
					{
						"name": "GeographicRegionOfEndCustomer",
						"type": "String"
					},
					{
						"name": "PayerAorB",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModule2Workscope",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscope",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSN",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleCSO",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSN",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2CSO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSHSI",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TSLV",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSN",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleCSO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSHSI",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTSLV",
						"type": "String"
					},
					{
						"name": "PrimaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "PrimaryModule2WorkscopeFinal",
						"type": "String"
					},
					{
						"name": "SecondaryModuleWorkscopeFinal",
						"type": "String"
					},
					{
						"name": "HSICategory",
						"type": "String"
					},
					{
						"name": "TargetHSIInterval",
						"type": "String"
					},
					{
						"name": "PrimaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PrimaryModule2OVHCategory",
						"type": "String"
					},
					{
						"name": "PrimaryModule2TargetTBO",
						"type": "String"
					},
					{
						"name": "SecondaryModuleOVHCategory",
						"type": "String"
					},
					{
						"name": "SecondaryModuleTargetTBO",
						"type": "String"
					},
					{
						"name": "PreviousEventHistory",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UseCase1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "UseCase1",
						"folderPath": "mergedtestdata",
						"fileSystem": "pwc-transformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EngineModel",
						"type": "String"
					},
					{
						"name": "LCF Part",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "ModuleType",
						"type": "String"
					},
					{
						"name": "MaterialInstalled",
						"type": "String"
					},
					{
						"name": "MaterialDescription",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "FinalPrice",
						"type": "String"
					},
					{
						"name": "ExtendedList",
						"type": "String"
					},
					{
						"name": "LCF Parts",
						"type": "String"
					},
					{
						"name": "PrimaryWorkscope",
						"type": "String"
					},
					{
						"name": "SecondaryWorkscope",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4634864076059286.6.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergeInvoice')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PW127",
								"type": "DatasetReference"
							},
							"name": "PW127"
						},
						{
							"dataset": {
								"referenceName": "PW150",
								"type": "DatasetReference"
							},
							"name": "PW150"
						},
						{
							"dataset": {
								"referenceName": "PW1XX",
								"type": "DatasetReference"
							},
							"name": "PW1XX"
						},
						{
							"dataset": {
								"referenceName": "TFAN",
								"type": "DatasetReference"
							},
							"name": "TFAN"
						},
						{
							"dataset": {
								"referenceName": "NewTest",
								"type": "DatasetReference"
							},
							"name": "DOFInvoice"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MergedInvoice",
								"type": "DatasetReference"
							},
							"name": "MergedInvoice"
						}
					],
					"transformations": [
						{
							"name": "InvoiceUnion"
						}
					],
					"scriptLines": [
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as string,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as string,",
						"          ShippedDate as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as string,",
						"          PrimaryModuleCSN as string,",
						"          PrimaryModuleTSO as string,",
						"          PrimaryModuleCSO as string,",
						"          PrimaryModuleTSHSI as string,",
						"          PrimaryModuleTSLV as string,",
						"          PrimaryModule2TSN as string,",
						"          PrimaryModule2CSN as string,",
						"          PrimaryModule2TSO as string,",
						"          PrimaryModule2CSO as string,",
						"          PrimaryModule2TSHSI as string,",
						"          PrimaryModule2TSLV as string,",
						"          SecondaryModuleTSN as string,",
						"          SecondaryModuleCSN as string,",
						"          SecondaryModuleTSO as string,",
						"          SecondaryModuleCSO as string,",
						"          SecondaryModuleTSHSI as string,",
						"          SecondaryModuleTSLV as string,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as string,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as string,",
						"          PrimaryModule2OVHCategory as string,",
						"          PrimaryModule2TargetTBO as string,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as string,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW127",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as string,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as string,",
						"          ShippedDate as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as string,",
						"          PrimaryModuleCSN as string,",
						"          PrimaryModuleTSO as string,",
						"          PrimaryModuleCSO as string,",
						"          PrimaryModuleTSHSI as string,",
						"          PrimaryModuleTSLV as string,",
						"          PrimaryModule2TSN as string,",
						"          PrimaryModule2CSN as string,",
						"          PrimaryModule2TSO as string,",
						"          PrimaryModule2CSO as string,",
						"          PrimaryModule2TSHSI as string,",
						"          PrimaryModule2TSLV as string,",
						"          SecondaryModuleTSN as string,",
						"          SecondaryModuleCSN as string,",
						"          SecondaryModuleTSO as string,",
						"          SecondaryModuleCSO as string,",
						"          SecondaryModuleTSHSI as string,",
						"          SecondaryModuleTSLV as string,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as string,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as string,",
						"          PrimaryModule2OVHCategory as string,",
						"          PrimaryModule2TargetTBO as string,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as string,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW150",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as string,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as string,",
						"          ShippedDate as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as string,",
						"          PrimaryModuleCSN as string,",
						"          PrimaryModuleTSO as string,",
						"          PrimaryModuleCSO as string,",
						"          PrimaryModuleTSHSI as string,",
						"          PrimaryModuleTSLV as string,",
						"          PrimaryModule2TSN as string,",
						"          PrimaryModule2CSN as string,",
						"          PrimaryModule2TSO as string,",
						"          PrimaryModule2CSO as string,",
						"          PrimaryModule2TSHSI as string,",
						"          PrimaryModule2TSLV as string,",
						"          SecondaryModuleTSN as string,",
						"          SecondaryModuleCSN as string,",
						"          SecondaryModuleTSO as string,",
						"          SecondaryModuleCSO as string,",
						"          SecondaryModuleTSHSI as string,",
						"          SecondaryModuleTSLV as string,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as string,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as string,",
						"          PrimaryModule2OVHCategory as string,",
						"          PrimaryModule2TargetTBO as string,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as string,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW1XX",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as string,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as string,",
						"          ShippedDate as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as string,",
						"          PrimaryModuleCSN as string,",
						"          PrimaryModuleTSO as string,",
						"          PrimaryModuleCSO as string,",
						"          PrimaryModuleTSHSI as string,",
						"          PrimaryModuleTSLV as string,",
						"          PrimaryModule2TSN as string,",
						"          PrimaryModule2CSN as string,",
						"          PrimaryModule2TSO as string,",
						"          PrimaryModule2CSO as string,",
						"          PrimaryModule2TSHSI as string,",
						"          PrimaryModule2TSLV as string,",
						"          SecondaryModuleTSN as string,",
						"          SecondaryModuleCSN as string,",
						"          SecondaryModuleTSO as string,",
						"          SecondaryModuleCSO as string,",
						"          SecondaryModuleTSHSI as string,",
						"          SecondaryModuleTSLV as string,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as string,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as string,",
						"          PrimaryModule2OVHCategory as string,",
						"          PrimaryModule2TargetTBO as string,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as string,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> TFAN",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as string,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as string,",
						"          ShippedDate as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as string,",
						"          PrimaryModuleCSN as string,",
						"          PrimaryModuleTSO as string,",
						"          PrimaryModuleCSO as string,",
						"          PrimaryModuleTSHSI as string,",
						"          PrimaryModuleTSLV as string,",
						"          PrimaryModule2TSN as string,",
						"          PrimaryModule2CSN as string,",
						"          PrimaryModule2TSO as string,",
						"          PrimaryModule2CSO as string,",
						"          PrimaryModule2TSHSI as string,",
						"          PrimaryModule2TSLV as string,",
						"          SecondaryModuleTSN as string,",
						"          SecondaryModuleCSN as string,",
						"          SecondaryModuleTSO as string,",
						"          SecondaryModuleCSO as string,",
						"          SecondaryModuleTSHSI as string,",
						"          SecondaryModuleTSLV as string,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as string,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as string,",
						"          PrimaryModule2OVHCategory as string,",
						"          PrimaryModule2TargetTBO as string,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as string,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     ignoreNoFilesFound: false) ~> DOFInvoice",
						"PW127, TFAN, PW1XX, PW150, DOFInvoice union(byName: true)~> InvoiceUnion",
						"InvoiceUnion sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          PrimaryWorkscope as string,",
						"          SecondaryWorkscope as string",
						"     ),",
						"     partitionFileNames:['MergedInvoice'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> MergedInvoice"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PW127')]",
				"[concat(variables('factoryId'), '/datasets/PW150')]",
				"[concat(variables('factoryId'), '/datasets/PW1XX')]",
				"[concat(variables('factoryId'), '/datasets/TFAN')]",
				"[concat(variables('factoryId'), '/datasets/NewTest')]",
				"[concat(variables('factoryId'), '/datasets/MergedInvoice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergedInvoice_UseCase3')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "NewTest",
								"type": "DatasetReference"
							},
							"name": "DOF"
						},
						{
							"dataset": {
								"referenceName": "PW1XX",
								"type": "DatasetReference"
							},
							"name": "PW1XX"
						},
						{
							"dataset": {
								"referenceName": "PW127",
								"type": "DatasetReference"
							},
							"name": "PW127"
						},
						{
							"dataset": {
								"referenceName": "PW150",
								"type": "DatasetReference"
							},
							"name": "PW150"
						},
						{
							"dataset": {
								"referenceName": "TFAN",
								"type": "DatasetReference"
							},
							"name": "TFAN"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Parquet1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "MergedInvoiceUseCase3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as double,",
						"          PrimaryModuleCSN as double,",
						"          PrimaryModuleTSO as double,",
						"          PrimaryModuleCSO as double,",
						"          PrimaryModuleTSHSI as double,",
						"          PrimaryModuleTSLV as double,",
						"          PrimaryModule2TSN as double,",
						"          PrimaryModule2CSN as double,",
						"          PrimaryModule2TSO as double,",
						"          PrimaryModule2CSO as double,",
						"          PrimaryModule2TSHSI as double,",
						"          PrimaryModule2TSLV as double,",
						"          SecondaryModuleTSN as double,",
						"          SecondaryModuleCSN as double,",
						"          SecondaryModuleTSO as double,",
						"          SecondaryModuleCSO as double,",
						"          SecondaryModuleTSHSI as double,",
						"          SecondaryModuleTSLV as double,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as double,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as double,",
						"          PrimaryModule2OVHCategory as double,",
						"          PrimaryModule2TargetTBO as double,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as double,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> DOF",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as float,",
						"          PrimaryModuleCSN as float,",
						"          PrimaryModuleTSO as float,",
						"          PrimaryModuleCSO as float,",
						"          PrimaryModuleTSHSI as float,",
						"          PrimaryModuleTSLV as float,",
						"          PrimaryModule2TSN as float,",
						"          PrimaryModule2CSN as float,",
						"          PrimaryModule2TSO as float,",
						"          PrimaryModule2CSO as float,",
						"          PrimaryModule2TSHSI as float,",
						"          PrimaryModule2TSLV as float,",
						"          SecondaryModuleTSN as float,",
						"          SecondaryModuleCSN as float,",
						"          SecondaryModuleTSO as float,",
						"          SecondaryModuleCSO as float,",
						"          SecondaryModuleTSHSI as float,",
						"          SecondaryModuleTSLV as float,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as float,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as float,",
						"          PrimaryModule2OVHCategory as float,",
						"          PrimaryModule2TargetTBO as float,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as float,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW1XX",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as float,",
						"          PrimaryModuleCSN as float,",
						"          PrimaryModuleTSO as float,",
						"          PrimaryModuleCSO as float,",
						"          PrimaryModuleTSHSI as float,",
						"          PrimaryModuleTSLV as float,",
						"          PrimaryModule2TSN as float,",
						"          PrimaryModule2CSN as float,",
						"          PrimaryModule2TSO as float,",
						"          PrimaryModule2CSO as float,",
						"          PrimaryModule2TSHSI as float,",
						"          PrimaryModule2TSLV as float,",
						"          SecondaryModuleTSN as float,",
						"          SecondaryModuleCSN as float,",
						"          SecondaryModuleTSO as float,",
						"          SecondaryModuleCSO as float,",
						"          SecondaryModuleTSHSI as float,",
						"          SecondaryModuleTSLV as float,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as float,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as float,",
						"          PrimaryModule2OVHCategory as float,",
						"          PrimaryModule2TargetTBO as float,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as float,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW127",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as double,",
						"          PrimaryModuleCSN as double,",
						"          PrimaryModuleTSO as double,",
						"          PrimaryModuleCSO as double,",
						"          PrimaryModuleTSHSI as double,",
						"          PrimaryModuleTSLV as double,",
						"          PrimaryModule2TSN as double,",
						"          PrimaryModule2CSN as double,",
						"          PrimaryModule2TSO as double,",
						"          PrimaryModule2CSO as double,",
						"          PrimaryModule2TSHSI as double,",
						"          PrimaryModule2TSLV as double,",
						"          SecondaryModuleTSN as double,",
						"          SecondaryModuleCSN as double,",
						"          SecondaryModuleTSO as double,",
						"          SecondaryModuleCSO as double,",
						"          SecondaryModuleTSHSI as double,",
						"          SecondaryModuleTSLV as double,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as double,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as double,",
						"          PrimaryModule2OVHCategory as double,",
						"          PrimaryModule2TargetTBO as double,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as double,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PW150",
						"source(output(",
						"          InvoiceFrontPageId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          OtherDocuments as string,",
						"          SDPlant as string,",
						"          PricingDate as date,",
						"          PrimaryModuleType as string,",
						"          PrimaryModule2Type as string,",
						"          SecondaryModuleType as string,",
						"          PrimaryModuleSerialNumber as string,",
						"          PrimaryModule2SerialNumber as string,",
						"          SecondaryModuleSerialNumber as string,",
						"          ReasonForRemovalBW as string,",
						"          ReasonForRemovalAdditionalInfo as string,",
						"          ShopEventDate as date,",
						"          ShippedDate as date,",
						"          InvoiceDate as date,",
						"          InvoiceMonth as string,",
						"          InvoiceNumber as string,",
						"          ShipToCountry as string,",
						"          EndCustomer as string,",
						"          GeographicRegionOfEndCustomer as string,",
						"          PayerAorB as string,",
						"          PrimaryModuleWorkscope as string,",
						"          PrimaryModule2Workscope as string,",
						"          SecondaryModuleWorkscope as string,",
						"          PrimaryModuleTSN as double,",
						"          PrimaryModuleCSN as double,",
						"          PrimaryModuleTSO as double,",
						"          PrimaryModuleCSO as double,",
						"          PrimaryModuleTSHSI as double,",
						"          PrimaryModuleTSLV as double,",
						"          PrimaryModule2TSN as double,",
						"          PrimaryModule2CSN as double,",
						"          PrimaryModule2TSO as double,",
						"          PrimaryModule2CSO as double,",
						"          PrimaryModule2TSHSI as double,",
						"          PrimaryModule2TSLV as double,",
						"          SecondaryModuleTSN as double,",
						"          SecondaryModuleCSN as double,",
						"          SecondaryModuleTSO as double,",
						"          SecondaryModuleCSO as double,",
						"          SecondaryModuleTSHSI as double,",
						"          SecondaryModuleTSLV as double,",
						"          PrimaryModuleWorkscopeFinal as string,",
						"          PrimaryModule2WorkscopeFinal as string,",
						"          SecondaryModuleWorkscopeFinal as string,",
						"          HSICategory as string,",
						"          TargetHSIInterval as double,",
						"          PrimaryModuleOVHCategory as string,",
						"          PrimaryModuleTargetTBO as double,",
						"          PrimaryModule2OVHCategory as double,",
						"          PrimaryModule2TargetTBO as double,",
						"          SecondaryModuleOVHCategory as string,",
						"          SecondaryModuleTargetTBO as double,",
						"          PreviousEventHistory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> TFAN",
						"DOF, TFAN, PW1XX, PW150, PW127 union(byName: true,",
						"     partitionBy('hash', 1))~> MergedInvoiceUseCase3",
						"MergedInvoiceUseCase3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['MergedInvoice_UseCase3'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/NewTest')]",
				"[concat(variables('factoryId'), '/datasets/PW1XX')]",
				"[concat(variables('factoryId'), '/datasets/PW127')]",
				"[concat(variables('factoryId'), '/datasets/PW150')]",
				"[concat(variables('factoryId'), '/datasets/TFAN')]",
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergedParts')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Parts_TFAN",
								"type": "DatasetReference"
							},
							"name": "PartsTFAN"
						},
						{
							"dataset": {
								"referenceName": "Parts_PW1XX",
								"type": "DatasetReference"
							},
							"name": "PartsPW1XX"
						},
						{
							"dataset": {
								"referenceName": "Parts_PW127",
								"type": "DatasetReference"
							},
							"name": "PartsPW127"
						},
						{
							"dataset": {
								"referenceName": "Parts_PW150",
								"type": "DatasetReference"
							},
							"name": "PartsPW150"
						},
						{
							"dataset": {
								"referenceName": "Parts_DOF",
								"type": "DatasetReference"
							},
							"name": "PartsDOF"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MergedParts",
								"type": "DatasetReference"
							},
							"name": "MergedParts"
						}
					],
					"transformations": [
						{
							"name": "PartsUnion"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceNumber as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomer as string,",
						"          PayerARCode as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string,",
						"          ExtendedList as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PartsTFAN",
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceNumber as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomer as string,",
						"          PayerARCode as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          ExtendedList as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PartsPW1XX",
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceNumber as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomerName as string,",
						"          {EndCustomerARCode.1} as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string,",
						"          ExtendedList as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PartsPW127",
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceNumber as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomerName as string,",
						"          PayerARCode as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string,",
						"          ExtendedList as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PartsPW150",
						"source(output(",
						"          PartDetailsId as string,",
						"          EngineModel as string,",
						"          SalesOrderNumber as string,",
						"          Plant as string,",
						"          InvoiceDate as string,",
						"          InvoiceMonth as string,",
						"          InvoiceYear as string,",
						"          EndCustomerARCode as string,",
						"          EndCustomerName as string,",
						"          PayerARCode as string,",
						"          PayerName as string,",
						"          EngineModule as string,",
						"          InvoiceRecordType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          MaterialGroup as string,",
						"          PartRemovalReason as string,",
						"          IWBEnginePosition as string,",
						"          MajorParts as string,",
						"          PricingMonth as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalInvoicePriceEscalatedAtPPHRateOrDiscount as string,",
						"          ExtendedList as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     ignoreNoFilesFound: false) ~> PartsDOF",
						"PartsTFAN, PartsPW150, PartsPW1XX, PartsPW127, PartsDOF union(byName: true)~> PartsUnion",
						"PartsUnion sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          EngineModel as string,",
						"          {LCF Part} as string,",
						"          SalesOrderNumber as string,",
						"          ModuleType as string,",
						"          MaterialInstalled as string,",
						"          MaterialDescription as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          FinalPrice as string,",
						"          ExtendedList as string",
						"     ),",
						"     partitionFileNames:['MergedParts'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> MergedParts"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parts_TFAN')]",
				"[concat(variables('factoryId'), '/datasets/Parts_PW1XX')]",
				"[concat(variables('factoryId'), '/datasets/Parts_PW127')]",
				"[concat(variables('factoryId'), '/datasets/Parts_PW150')]",
				"[concat(variables('factoryId'), '/datasets/Parts_DOF')]",
				"[concat(variables('factoryId'), '/datasets/MergedParts')]"
			]
		}
	]
}